<div class="header">
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upper">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-selectors-wrapper">
                        @await Component.InvokeAsync(typeof(TaxTypeSelectorViewComponent))

                        @await Component.InvokeAsync(typeof(CurrencySelectorViewComponent))

                        @await Component.InvokeAsync(typeof(LanguageSelectorViewComponent))

                        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderSelectors })
                    </div>
                </div>
                <div class="col-md-8 header-upper-right pull-right">
                    <div class="header-links-wrapper">
                        @await Component.InvokeAsync(typeof(HeaderLinksViewComponent))
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div class="header-lower">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-left">
                    <div class="search-box">
                        @await Component.InvokeAsync(typeof(SearchBoxViewComponent))
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="header-logo">
                        @await Component.InvokeAsync(typeof(LogoViewComponent))
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    @await Component.InvokeAsync(typeof(FlyoutShoppingCartViewComponent))
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
